$dark-grey                : #232323;
$ghost-white              : rgb(242, 242, 242);
$ghost-white-transparent  : rgba(242, 242, 242, 0.7);
$grey                     : #333;
$light-grey               : #d0d0d0;
$white                    : #fff;
