@include sticky-footer(35px, ".l-container", ".l-container--footer", ".l-footer");

.l-button {
  @include button($background: $grey, $background-hover: scale-color($grey, $lightness: +15%));
  font-size: map-get($button-sizes, tiny);
  text-transform: uppercase;
}

.l-container {
  @include background-image-retina("background", "jpg", 100%, 100%);
  background-size: cover;

  @media only screen and (max-width: 1920px), only screen and (max-height: 1080px) {
    background-size: auto;
  }

  @media only screen and (min-width: 1920px), only screen and (min-height: 1080px) {
    background-image: image-url("background@2x.jpg");
  }
}

.l-content {
  padding-top: 20px;
}

.l-credits {
  color: $white;
}

.l-credits--photos {
  font-size: 0.65em;
  margin-bottom: 0px;
  margin-top: 10px;
  padding-right: 10px;
}

.l-credits--photo {
  color: $white;

  &:focus,
  &:hover,
  &:visited {
    color: $white;
  }
}

.l-footer {
  @include background-image-retina("background_dark_noise", "png", 64px, 64px);
  background-size: cover;
  min-width: 100%;
}

.l-langs {
  margin-top: 20px;
}

.l-langs--link {
  @include button($background: $light-grey, $background-hover: scale-color($light-grey, $lightness: +50%));
  opacity: 0.5;
  border-radius: 3px;
  color: $grey;
  font-size: map-get($button-sizes, tiny);
  font-weight: bold;
  margin: 0 5px 0 5px;
  padding: 0.3em 1em;
  text-transform: uppercase;
}

.l-langs--link-active {
  cursor: not-allowed;
  opacity: 0.3;
}

.l-panel {
  @include callout-base;
  border-radius: 10px;
  background-color: $ghost-white;
  background-color: $ghost-white-transparent;
}
