.p-404 {
  margin: 10% 0 10% 0;

  h2 {
    margin-bottom: 5px;

    small {
      color: $grey;
    }
  }
}

.p-404--description {
  border-left: none;
  color: $grey;
}

.p-404--avatar {
  @include background-image-retina("dark_avatar", "jpg", 225px, 385px);
  background-position: center;
  background-repeat: no-repeat;
  margin: 25px 0 25px 0;
  min-height: 385px;
  min-width: 225px;
  text-align: center;
}
